/*   Colors: #1cba24  */
/*   Colors: #ffffff  */
/*   Colors: #000000  */
/*   Colors: #fafafa  */

/*   Fonts: 'Roboto Slab', serif  */
body{
    font-family: 'Roboto Slab', serif;
}

/*  Header  */
/**/
/**/
/**/
#siteIcon{
    font-size: 22px;
}
.navbar-brand img{
    height: 50px;
    border-color: #ffffff;
}

.navbar-nav {
    font-size: 20px;
    color: black;
}

.navbar-brand {
    font-size: 30px;
}

/*  Footer  */
/**/
/**/
/**/

footer {
    bottom: 0;
    width: 100%;
    margin: 0;
}

.fa-ul{
    margin-left: 50px;
    margin-bottom: auto;
}

footer a{
    color: #fafafa;
}




/*   Index.html -- Main Page   */
/**/
/*   Main captain text   */
.jumbotron {
    background-image: url("../images/other/ireland.jpg");
    background-size: cover;
    height: 750px;
    border-radius: 0 !important;
  }

.jumbotron h2{
    margin-top: 230px;
    color: #ffffff;
    text-shadow: 1px 0px 1px #000000 !important;
}

/*  Map     */
#map {
    height: 750px;
    width: 100%;
    margin: auto;
}

/*   City Buttons   */
.btn-primary{
    background-color: #1cba24;
    border-color: #ffffff;
}

.active{
    border-color: #000000;
}

/*   City Details   */
.cityInfo h2{
    font-size: 5rem;
}

.cityInfo p{
    font-size: 1.4rem;
}

/*   Attraction Cards   */
.card-columns, img {
    border-radius: 10px;
}

.card-columns h5 {
    padding: 10px;
    border-bottom: 5px solid #1cba24;;
    font-weight: bold;
}

.card-columns p {
    font-size: 1.1rem;
}

.card-img-top{
    min-height: 200px;
}
/**/


/*   About.html - About Ireland Page   */
/**/
/**/

/*   About Ireland Heading and Description  */
/**/

.locationDetails h1{
    border-bottom: 5px solid #1cba24;
    font-weight: bold;
    margin: 1rem;
}

.locationDescription{
    font-size: 1.4rem;
}

/*  Image Carousel   */
/**/
/**/

.carouselcontainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.carouselcontainer p{
    font-size: 1.5rem;
    font-weight: bold;
}
.carousel img{
    width: 100%;
    height: 100%;
}

#FeaturedImages {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    max-height: 700px;
}

@media only screen and (max-width: 768px) {
    .carousel-item img {
        max-height: 500px;
    }
    #FeaturedImages {
        width: fit-content;
    }
}

@media only screen and (max-width: 500px) {
    .cityInfo h2 {
        font-size: 2rem;
    }
    .cityInfo p{
        font-size: 1rem;
    }
    #map{
        height: 320px;
    }
    .jumbotron{
        height: 400px;
    }
    .jumbotron h2{
        font-size: 1.6rem;
        margin-top: auto;
    }
    .locationDetails h1{
        font-size: 1.2rem;
    }
    .locationDescription{
        font-size: 1.1rem;
    }
    .carouselcontainer p {
        font-size: 1.1rem;
        margin: 8px;
    }
    .irelandinfo h2{
        font-size: 1.1rem;
    }
    .irelandinfo{
        margin: 2.5rem;
    }
    .irelandinfo li {
        margin: 4px;
        font-size: 1.1rem;
    }
    .irelandWeather{
        margin: 0;
    }
    .irelandWeather h2{
        font-size: 1rem;
    }
    .irelandWeather p{
        font-size: 1.1rem;
    }
}

/*  Some Facts about Ireland in a list   */
/**/
/**/
.irelandinfo{
    margin: 2.5rem;
}

.irelandinfo h2{
    border-bottom: 5px solid #1cba24;
    padding-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
}

.irelandinfo ul{
    list-style: none;
}

.irelandinfo li{
    margin: 1rem;
    font-size: 1.4rem;
}

/*  Weather Forecast   */
/**/
/**/

.irelandWeather{
    margin: 2.5rem;
    text-align: center;
}

.irelandWeather h2{
    border-bottom: 5px solid #1cba24;
    padding-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
}

.irelandWeather p{
    font-size: 1.5rem;
}

.weatherCity{
    font-size: 1.2rem;
    float: left;
}

.temp div{
    float: left;
}